.showcase{
    margin-top: 30px;
}

.showcase_img img{
    width: 100%;
}

.showcase_left{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.showcase_left h1{
font-size: 48px;
font-weight: 400;
line-height: 58px;
text-align: left;
color: $oneA;
width: 30%;
}

.showcase_left p{
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: left;
width: 45%;
color: $A;
}


@media(max-width:800px){
    .showcase_left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.showcase_left h1{
font-size: 48px;
font-weight: 400;
line-height: 58px;
text-align: left;
color: $oneA;
width: 100%;
}

.showcase_left p{
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: left;
width: 100%;
color: $A;
}

}

@media(max-width:500px){
.showcase_img img{
    width: 100%;
}
.showcase{
    margin-top: 0px;
}
}

@media(max-width:400px){
    .showcase_left h1{
font-size: 38px;
font-weight: 400;
line-height: 48px;
text-align: left;
color: $oneA;
width: 100%;
}


}