@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid red;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar_links ul a,
.navbar_items a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 2px;
  text-align: center;
}

.hovers {
  position: relative;
  padding: 0 10px;
}

.navbar_items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar_items_inside {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hovers:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s linear;
}

.hovers:hover:after {
  width: 100%;
}

.checkbox_hidden {
  display: none;
}

.menu_from_google {
  font-size: 25px;
}

@media (min-width: 800px) {
  .menu_from_google {
    display: none;
    font-size: 25px;
  }
}
@media (max-width: 800px) {
  .links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background-color: aliceblue;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: 0.7s linear;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
@media (max-width: 500px) {
  .navbar_items .navbar_items_inside,
  .cart_org {
    display: none;
  }
}
.showcase {
  margin-top: 30px;
}

.showcase_img img {
  width: 100%;
}

.showcase_left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showcase_left h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  color: #1A1A1A;
  width: 30%;
}

.showcase_left p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  width: 45%;
  color: #AAAAAA;
}

@media (max-width: 800px) {
  .showcase_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .showcase_left h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #1A1A1A;
    width: 100%;
  }
  .showcase_left p {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    width: 100%;
    color: #AAAAAA;
  }
}
@media (max-width: 500px) {
  .showcase_img img {
    width: 100%;
  }
  .showcase {
    margin-top: 0px;
  }
}
@media (max-width: 400px) {
  .showcase_left h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #1A1A1A;
    width: 100%;
  }
}
.rooms {
  margin-bottom: 100px;
  margin-top: 100px;
}

.rooms_cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 30px 20px;
  padding: 10px 10px;
}

.rooms_card p {
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #1A1A1A;
}

.rooms_card img {
  width: 100%;
}

@media (max-width: 1000px) {
  .rooms {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .rooms_cards {
    display: flex;
    flex-direction: column;
    gap: 30px 10px;
    padding: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .rooms_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .rooms_card img {
    width: 100%;
  }
  .rooms_card p {
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #1A1A1A;
  }
}
.brands_title {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.brands_title h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #1A1A1A;
}

.brands_title p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #4A4A4A;
}

.brands_swiper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.brands_swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 500px) {
  .brands_title h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #1A1A1A;
  }
  .brands_title {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 350px) {
  .brands_title h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #1A1A1A;
  }
}

/*# sourceMappingURL=style.css.map */
